:root {
    --player1Color: rgb(82, 167, 196);
    --player2Color: rgb(180, 102, 102);
    --gameDrawColor: green;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.square>span {
    font-size: 3rem;
    font-weight: bold;
}

.square>span.play1 {
    color: var(--player1Color);
}

.square>span.play2 {
    color: var(--player2Color);
}

button.restartGame {
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 200px;
}

#gameInfo {
    margin-bottom: 2rem;
}

.player1Turn {
    font-size: 2.5rem;
    color: var(--player1Color);
}

.player2Turn {
    font-size: 2.5rem;
    color: var(--player2Color);
}

.player1Winner {
    font-size: 2.5rem;
    color: var(--player1Color);
}

.player2Winner {
    font-size: 2.5rem;
    color: var(--player2Color);
}

.gameDraw {
    font-size: 2.5rem;
    color: var(--gameDrawColor);
}