.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    display: block;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}